@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  outline: none!important;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171840;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active {
  background: linear-gradient(295.85deg, #0CF1E3 10.34%, #3FACFC 93.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.auth_btn { 
  background-color: #2A4790;
}
.connect_btn {
  background: linear-gradient(295.85deg, #0C66F1 10.34%, #3FACFC 93.54%);
  border-radius: 97px;
}
.swap_btn {
  background: linear-gradient(295.85deg, #0C66F1 10.34%, #3FACFC 93.54%);
}
.transfer_btn {
  background: linear-gradient(295.85deg, #0C66F1 10.34%, #3FACFC 93.54%);
}
.filter_btn {
  background: linear-gradient(295.85deg, #0C66F1 10.34%, #3FACFC 93.54%);
}
.trade {
  background: linear-gradient(295.85deg, #0CF1E3 10.34%, #3FACFC 93.54%);
  border-radius: 97px;
}
.text_color {
  color: #9AFFFE;
}
.inner_bg {
  background-color: #23255A;
}
#swap_bg {
  background-color: #171840;
}
.active_time {
  background-color: #2A4790;
}
.time_bg {
  background-color: #171840;
}
.trade_title {
  background: linear-gradient(90deg, #CAE7FF 0%, #FFFFFF 42.22%, #CAE7FF 93.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.hero_card {
  background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);
  backdrop-filter: blur(1110px);
}
.get_started {
  background: linear-gradient(295.85deg, #0C66F1 10.34%, #3FACFC 93.54%);
  border-radius: 97px;
}
.reality_footer_bg {
  background: radial-gradient(40.97% 40.97% at 89.88% 7.26%, #2F2F2F 0%, #1C1C1C 100%)
}
.vr_img {
  position: relative;
  top: 20px;
  right: 25%;
  opacity: 0.8;
  z-index: 2;
}
.get_started_card {
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(74.4293px);
}
.blockchain_gradient_left {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
}
.blockchain_gradient_right {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
}
.start_bg {
  background: linear-gradient(295.85deg, #0CF1E3 10.34%, #3FACFC 93.54%);
}
#clip_bg {
  background-color: #2C2E5B;
}
#rate {
  color: #3E9B96;
}
.inp_bg {
  background-color: #2C2E5B;
}
.circles {
  background-image: url('/public/assets/circle.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size:100%;
}
.man_image {
  background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),url('/public/assets/backgoundImages/man.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.space {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('/public/assets//backgoundImages/pilot.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.create {
  background: linear-gradient(rgba(0,0,0,0.03), rgba(0,0,0,0.03)), url('/public/assets/backgoundImages/shapes.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.reality_header_title {
  color: #171840;
}
.get_started {
  filter: blur(100px);
  /* border-radius: 97px;
  background: linear-gradient(295.85deg, #0C66F1 10.34%, #3FACFC 93.54%); */
}
.blur_bg {
  position: absolute;
  filter: blur(10px);
  background: linear-gradient(295.85deg, #0C66F1 10.34%, #3FACFC 93.54%);
}
.spiral_bg {
  background-repeat: no-repeat!important;
  background-size: 300vh!important;
  background: linear-gradient(rgba(23, 24, 64,0.7), rgba(23, 24, 64,0.7)),url('/public/assets/backgoundImages/spiral_bg.svg');
}
.geometric_bg {
  background-image: url('/public/assets/realityImages/geometricShape.png');
  background-repeat: no-repeat;
  background-position: center;
}
.explore_gradient {
  background: linear-gradient(295.85deg, #0CF1E3 10.34%, #3FACFC 93.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.ecosys_hero{
  background-repeat: no-repeat!important; 
  background-size: 170vh !important;
  background-position: left;
  /* linear-gradient(rgba(23, 24, 64,0.9), rgba(23, 24, 64,0.9)) */
  background: url('/public/assets/backgoundImages/spiral_bg.svg');
  background-color: #171840;
  background-blend-mode: overlay;
  /* clip-path: polygon(0 0, 100% 0, 100% 92%, 60% 100%, 50% 100%, 0 90%); */
}
.whitepaper_btn {
  color: #0C66F1;
  border-radius: 97px;
}
.archi {
  background: url('/public/assets/EcosysImages/arch.png');
  background-size: cover!important;
  background-position: bottom !important;
  background-repeat: no-repeat!important;
}
.main_crypto_cont {
  top: 70px;
  margin: auto;
  background: linear-gradient(295.85deg, #0C66F1 10.34%, #3FACFC 93.54%);
}
.cryto_logo {
  top: -90px;
  /* left: 0px; */
}
.active_eco {
  background: linear-gradient(295.85deg, #0CF1E3 10.34%, #3FACFC 93.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.ecosysTitles {
  color: #2A4790;
}
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
.dropdown_content {
  background: rgb(27, 28, 71);
  width: 100vw!important;
}
.ecosys_dropdown {
  background: rgb(27, 28, 71);
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}